<div class="contact">
    <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Create Post</h2>
              </div>
            </div>
          </div>
        </div>
        <form #form="ngForm" class="main_form" (ngSubmit)="createPost(form)">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <input
              class="form_contril"
              placeholder="Title"
              type="text"
              name="title"
              id="title"
              #inputTitle="ngModel"
              ngModel
              required
              minlength="5"
            />
          </div>
          <ng-container *ngIf="inputTitle.touched">
            <p *ngIf="inputTitle.errors?.['required']">
              Title is required
            </p>
            <p *ngIf="inputTitle.errors?.['minlength']">
              Your Title must be at least 5 characters long
            </p>
          </ng-container>
          <div class="col-md-8">
            <textarea
              class="form_contril"
              placeholder="Content"
              type="text"
              name="content"
              id="content"
              #inputContent="ngModel"
              ngModel
              required
              minlength="10"
            ></textarea>
          </div>
          <ng-container *ngIf="inputContent.touched">
            <p *ngIf="inputContent.errors?.['required']">
              Content is required
            </p>
            <p *ngIf="inputContent.errors?.['minlength']">
              Your content must be at least 10 characters long
            </p>
          </ng-container>
          <div class="col-md-8">
            <input
              class="form_contril"
              placeholder="URL of image"
              type="text"
              name="img"
              id="img"
              #inputImg="ngModel"
              ngModel
              required
            />
          </div>
          <ng-container *ngIf="inputImg.touched">
            <p *ngIf="inputImg.errors?.['required']">
              Image is required
            </p>
          </ng-container>
          <div class="col-md-8">
            <button class="send_btn">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  