<div class="row">
  <div class="col-md-12">
    <div class="our_two_box">
      <div class="row d_flex">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_img">
            <figure><img src="{{ currentPost.img }}" alt="NO IMAGE" /></figure>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_text_box">
            <h3 class="awesome pa_wi">{{ currentPost.title }}</h3>
            <p>{{ currentPost.content }}</p>
            <!-- <div class="post_box padding_bottom1">
                   <ul class="like">
                   <li><a [routerLink]="'/' + 'my-posts/' + currentPost._id + '/edit'">Edit</a></li>
                   <li><button class="send_btn" (click)="deleteHandler()">Delete</button></li></ul>
                  </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
