<div class="row">
    <div class="col-md-12">
       <div class="our_two_box">
          <div class="row d_flex">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="our_img">
                   <figure><img src="./../../assets/images/our_img1.jpg" alt="#"/></figure>
                </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="our_text_box">
                   <h3 class="awesome pa_wi">{{post.title}}</h3>
                   <p>{{post.content}}</p>
                </div>
             </div>
             <a [routerLink]="post._id">Details</a>
          </div>
       </div>
    </div>
 </div>
