<div class="row">
    <div class="col-md-12">
       <div class="our_two_box">
          <div class="row">
             <div class="col-md-12">
                <div class="our_img">
                   <figure><img class="he_img" src="images/our_img2.jpg" alt="#"/></figure>
                <div class="our_text_box position_box">
                   <h3 class="awesome withi_color"> {{curPost.title}}</h3>
                   <p class="hiuouh">{{curPost.content}}</p>
                   <div class="post_box">
                      <!-- <h4 class="flot_left1 withi_color">Post By :  </h4> -->
                   </div>
                </div>
             </div>
             
             </div>
          </div>
       </div>
    </div>
 </div>
