<header>
    <!-- header inner -->
    <div  class="head_top">
       <div class="header">
          <div class="container-fluid">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                   <nav class="navigation navbar navbar-expand-md navbar-dark ">
                      <div class="collapse navbar-collapse" id="navbarsExample04">
                         <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                               <a routerLink="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                               <a routerLink="/all-posts" class="nav-link">Posts</a>
                            </li>
                            <div *ngIf="!isLogged">
                            <li class="nav-item">
                               <a routerLink="/login" class="nav-link">Login </a>
                            </li></div>
                            <div *ngIf="!isLogged">
                            <li class="nav-item">
                               <a routerLink="/register" class="nav-link">Register</a>
                            </li>
                           </div>
                            <div *ngIf="isLogged">
                              <li class="nav-item">
                               <a routerLink="/my-posts" class="nav-link">My Posts</a>
                            </li>
                           </div>
                            <div *ngIf="isLogged">
                            <li class="nav-item">
                               <a routerLink="/create-post" class="nav-link">Create</a>
                            </li>
                           </div>
                            <div *ngIf="isLogged">
                            <li class="nav-item">
                               <a routerLink="/logout" class="nav-link">Logout</a>
                            </li> 
                           </div>
                         </ul>
                      </div>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div> 
</header>



