<div class="blog_main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Latest posts</h2>
          <!-- <span
            >It is a long established fact that a reader will be distracted by
            the readable content of a page
          </span> -->
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4 margin_top_3">
            <div class="our_img">
              <figure><img src="./../../assets/images/our_img3.jpg" alt="#" /></figure>
            </div>
            <div class="our_text_box three_box">
              <div class="post_box d_flex padding_top3">
                <h3 class="awesome padding_flot">Chad-Montano</h3>
              </div>
              <p>
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minimquis nostrud exercitation ullamco laboris
              </p>
            </div>
          </div>
      <div class="col-md-4 margin_top_3">
        <div class="our_img">
          <figure><img src="./../../assets/images/our_img3.jpg" alt="#" /></figure>
        </div>
        <div class="our_text_box three_box">
          <div class="post_box d_flex padding_top3">
            <h3 class="awesome padding_flot">Chad-Montano</h3>
          </div>
          <p>
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minimquis nostrud exercitation ullamco laboris
          </p>
        </div>
      </div>
      <div class="col-md-4 margin_top_3">
        <div class="our_img">
        <img src="./../../assets/images/our_img3.jpg" alt="#" />
        </div>
        <div class="our_text_box three_box">
          <div class="post_box d_flex padding_top3">
            <h3 class="awesome padding_flot">Chad-Montano</h3>
          </div>
          <p>
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minimquis nostrud exercitation ullamco laboris
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
